/*.iml
/.idea
build/*
.project
.classpath
/hadoop.log

/inject-temp-*
/build/
/logs/
/hadoop.log
/hadoop.log.2016-03-15
/101Crawlers/
/runtime/
/.naivebayes-model.crc
/.settings/
/.metadata/
/GeoCrawler/
