/AverageCorpusTF_ALGORITHM.txt
/CValue_ALGORITHM.txt
/IBM_GlossEx_ALGORITHM.txt
/RIDF_ALGORITHM.txt
/Simple_term_frequency_ALGORITHM.txt
/TermEx_ALGORITHM.txt
/TfIdf_ALGORITHM.txt
/Weirdness_ALGORITHM.txt
/celestina.html
/res.zip
