<plugin id="index-static" name="Index Static" version="1.0.0"
	provider-name="nutch.org">
	<runtime>
		<library name="index-static.jar">
			<export name="*" />
		</library>
	</runtime>
	<requires>
		<import plugin="nutch-extensionpoints" />
	</requires>
	<extension id="org.apache.nutch.analysis.lang.LanguageQueryFilter"
		name="Nutch Language Query Filter" point="org.apache.nutch.searcher.QueryFilter">
		<implementation id="LanguageQueryFilter"
			class="org.apache.nutch.analysis.lang.LanguageQueryFilter">
			<parameter name="raw-fields" value="lang" />
		</implementation>
	</extension>
</plugin>